<%- include('partials/header') -%>
<section class="feedBody">
  <div class="feedContainer container">
    <% for(let i=0; i<posts.length; i++) {%>
      <div class="feedPost">
        <div class="likesBar">
          <div class="likesArrowsContainer">
            <ion-icon class="voteArrow" name="arrow-up-outline"></ion-icon>
          <span>10,234</span>
          <ion-icon class="voteArrow" name="arrow-down-outline"></ion-icon>
        </div>
        </div>
        <div class="feedContentContainer">
          <div>
            <h2 id="feedTitle"><%=posts[i].title %></h2>
          </div>
          <div class="feedImgContainer">
            <a class="" href="/post/<%= posts[i]._id%>">
              <img class="feedImg" src="<%= posts[i].image%>">
            </a>
          </div>
          <div class="commentsAndShare">
            <div class="feedIconContainer">
              <ion-icon class="feedIcon" name="chatbox-outline"></ion-icon>
            <h4>32 Comments</h4>
            </div>
            <div class="feedIconContainer">
              <h4>Share</h4>
              <ion-icon 
              class="feedIcon" name="share-social-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <% } %>
  </div>
  <div class="profileSquareOnFeed">
    <h1>Create your own post</h1>
  </div>
</section>
  <%- include('partials/footer') -%>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>