<!-- NAVBAR -->
<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Item 1</a></li>
        <li tabindex="0">
          <a class="justify-between">
            Parent
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
            </svg>
          </a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>About</a></li>
      </ul>
    </div>
    <a href="/feed" class="btn btn-ghost normal-case text-xl">The Reef</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal p-0">
      <li><a href="/feed">General Discussion</a></li>
      <li><a href="/buy-sell-trade/live-fish">Fish</a></li>
      <li><a href="/buy-sell-trade/live-plants">Plants</a></li>
      <li><a href="/buy-sell-trade/offer-services">Services</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a href="/feed" class="btn-active text-white btn hover:btn">Back to home</a>
  </div>
</div>



<div class="items-center">

  <div class="returnContainer">
    <a class="btn-primary btn text-white" href="/profile">Return to Profile</a>
    <a class="btn-primary btn text-white" href="/feed">Return to Feed</a>
  </div>


  <% if(post.image) {%>
    <div class="feedCardContainer w-full pt-8">
      <div class="card w-1/2 bg-base-100 shadow-xl items-center">
        <img class="w-3/4" src="https://placeimg.com/400/225/arch" alt="Shoes" />
        <div class="card-body w-full">
          <h2 class="card-title">
            Shoes!
            <div class="badge badge-secondary">NEW</div>
          </h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">Fashion</div>
            <div class="badge badge-outline">Products</div>
          </div>
        </div>
      </div>
    </div>
    <% } else { %>
      <div class="feedCardContainer w-full pt-8">
        <div class="card w-1/2 bg-base-100 shadow-xl items-center">
          <div class="card-body w-full">
            <h2 class="card-title">
              <%= post.title %>
              <% if(post.typeOfPost==='Sell') { %>
                <span class="tag  bg-lime-600">
                    <%=post.typeOfPost %>
                </span>
            <%} else if(post.typeOfPost==='Buy') {%>
                <span class="tag bg-purple-600">
                    <%=post.typeOfPost %>
                </span>
            <%} else if(post.typeOfPost==='Trade') {%>
                <span class="tag bg-pink-600">
                    <%=post.typeOfPost %>
                </span>
            <%} else if(post.typeOfPost==='Services') {%>
                <span class="tag bg-amber-600">
                    <%=post.typeOfPost %>
                </span>
            <%} %>
            </h2>
            <p><%= post.caption %></p>
            <div class="card-actions justify-end">
            </div>
          </div>
        </div>
      </div>
      <% } %>


        

 

          <div class="card w-full postCommentsContainer items-center">
              <div class="w-1/2">
                <form action="/comment/createComment/<%=post.id%>" method="POST" class="col-3">
                  <textarea name="comment" class="textarea textarea-bordered" placeholder="Add comment"></textarea>
                  <button class="btn text-white" type="submit">Comment</button>
                </form>
              </div>
      
            <% for (let i=0; i < comments.length; i++) {%>
              <div class="commentContainer bg-base-300 w-1/2">
                <%=comments[i].comment%>
                  <%if(comments[i].user==user.id){ %>
                    <form action="/comment/deleteComment/<%=comments[i]._id%>?_method=DELETE" method="POST" class="flex-row">
                      <button class="btn btn-primary fa fa-trash" type="submit"></button>
                    </form>
                    <%}%>
              </div>
              <%}%>
          </div>

</div>


<%- include('partials/footer') -%>